#userEditor {
  background-image: url("../scott-graham-OQMZwNd3ThU-unsplash.jpg");
  background-position: center top;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  padding: 0;
  margin: 0;
  font-size: 20px;
  height: 100vh;
}

.content {
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: 1;
}

#overlay {
  margin: 0;
  background-image: linear-gradient(90deg,rgba(0,0,0,.7)20%,rgba(0,0,0,.3)20%);
  background-size: 2px 2px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding:0;
  z-index: 2;
}

#form {
  width: 800px;
  left: 50%;
  transform: translate(-40%);
  z-index: 2;
  color: #fff;
  position: relative;
}

h1 {
  font-family: 'Homemade Apple', cursive;
  font-weight: normal;
  font-size: 40px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 10px;
}
h3 {
  width: 100%;
  margin-bottom: 10px;
}

#nameText {
  margin-top: 80px;
}

#nameText::before {
  content: "必須";
  font-size: 12px;
  padding: 5px;
  background-color: #ff3311;
  border-radius: 5px;
  color: #fff;
  vertical-align: middle;
  margin-right: 5px;
}

#emailText::before {
  content: "必須";
  font-size: 12px;
  padding: 5px;
  background-color: #ff3311;
  border-radius: 5px;
  color: #fff;
  vertical-align: middle;
  margin-right: 5px;
}

#name,#email {
  width: 80%;
  height: 2rem;
  font-size: 20px;
  border: none;
  border-radius: 5px;
}


#profile {
  width: 80%;
  height: 150px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
}

#submitButton {
  font-size: 15px;
  padding: 10px;
  border: none;
  background-color: #3366ff;
  color: #fff;
  border-radius: 20px;
  transition: all 0.2s ease-in-out;
}

#submitButton:focus {
  outline: none;
}

#submitButton:hover {
  cursor: pointer;
  background-color: #3399ff;
}

#cancelButton {
  font-size: 15px;
  margin-left: 30px;
  padding: 14px;
  border: none;
  background-color: #ff6600;
  color: #fff;
  border-radius: 20px;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

#cancelButton:hover {
  background-color: #ff9900;
}

#anounce {
  position: absolute;
  top: 200px;
  background-color: #00bb85;
  color: #fff;
  padding: 5px 10px; 
  border-radius: 20px;
  opacity: 1;
}

