ul {
  padding: 0;
}
body { 
  font-size: 25px;
  background-color: #335;
  background-position: center top;
  background-repeat: repeat;
  background-size: cover;
  background-attachment: fixed;
  color:#000;
  margin: 0;
}

.userImage {
  width: 960px;
  height: 300px;
  margin: 0 auto;
  position: relative;
}

.backgroundImage {
  width: 960px;
  height: 200px;
  margin: 0 auto;
  background-position: center;
  background-size: cover;
}

.userIcon {
  width: 150px;
  height: 150px;
  position: absolute;
  border-radius: 100%;
  background-position: center;
  background-size: cover;
  top: 130px;
  left: 5%;
  border: 5px solid #335;
}

#mainCenter {
  width: 960px;
  margin: 0 auto;
}

#userViewer {
  width: 914px;
  margin: 0 auto;
  color: #fff;
}

#userName:after {
  content: "のカードボックス"
}

#cardViewer {
  width: 914px;
  height: 644px;
  margin: 80px auto 0;
  border:1px solid #00ced1;
  border-radius: 10px;
  background-image: url("./k-card-image\(Edited\).png");
  background-position: center top;
  background-size: cover;
}

#cardStatus {
  width: 910px;
  height: 80px;
  margin: 5px auto 80px;
  display: flex;
}

#edittingButton {
  width: 80px;
  margin-left: 50px;
  height: 40px;
  color: #fff;
  background-color: lightseagreen;
  border-radius: 10px;
  border: 0px;
  box-shadow: 0 5px darkcyan;
}

#edittingButton:hover {
  opacity: 0.8;
}

#edittingButton:active {
  position: relative;
  box-shadow: none;
  top: 5px;
  outline: 0;
}

#edittingButton:focus {
  outline: 0;
}

#cardMainArea {
  width: 740px;
  height: 640px;
  float: right;
}

#cardSideArea {
  margin: 135px 5px 0px 0px;
  width: 175px;
  height: 640x;
  overflow-wrap: break-word;
}


#title:before {
  content:'- ';
}
#title:after {
  content:' -';
}
#title {
  height: 40px;
  line-height: 50px;
  margin: 15px 20px 0;
  overflow: ellipsis;
  font-size: 30px;
}

#leadSentence {
  height: 60px;
  width: 715px;
  margin: 5px 20px;
  font-size: 25px;
  line-height: 60px;
  overflow: hidden;
}

#mainText {
  height: 280px;
  margin: 50px 20px 65px 20px;
  font-size: 25px;
  line-height: 48px;
  overflow: hidden;
}



#author {
  margin: 0px 20px 10px 20px;
  font-size: 25px;
}

#author::after {
  content: "　著";
}


#bookTitle {
  margin: 0px 0px 10px 10px;
  font-size: 25px;
}

#bookTitle::before {
  content: "『";
}

#bookTitle::after {
  content: "』";
}

#pages {
  font-size: 22px;
  margin: 4px 0px 10px 0px;
}

#pages::before {
  content: "P.";
}

#bookInfo {
  display:flex;
  margin: 0;
  padding: 0;
}



#postedDate {
  margin-left:20px;
  font-size: 22px;
  list-style: none;
}

#bookmarkUserCount::before {
  content: "⭐ ";
  
}

#bookmarkUserCount {
  margin-top: 15px;
  width: 60px;
  color: #fff;
}

#comments::before {
  content: "💬 ";
}

#comments {
  width: 60px;
  margin-top: 15px;
  margin-left: 20px;
  color: #fff;
}

#revisionButton {
  padding-top: 5px;
  text-align: center;
  vertical-align: center;
  text-decoration: none;
  width: 80px;
  height: 35px;
  background-color: royalblue;
  color: #fff;
  border-radius: 10px;
  outline: 0;
  border: none;
  font-size: 20px;
  margin-top: 15px;
  margin-left: 40px;
  box-shadow: 0px 3px steelblue;
  position: relative;
}

#revisionButton:hover {
  background-color: lightskyblue;
}

#revisionButton:active {
  box-shadow: none;
  top: 3px;
  opacity: 1;
}