#edittingPage {
  margin: 0;
  background-attachment: fixed;
  color: #555;
  font-size: 20px;
  font-family: 'Noto Serif JP', serif;
}

p,h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
}

#content {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-flow: row-reverse;
  font-size: 22px;
}

.main {
  width: calc(100% - 250px);
  height: 100%;
  display: flex;
  flex-direction: column;
}

#reading {
  display: block;
  width: 100%;
  height: 100vh;
  max-width: 1440px;
  flex: 1 1 auto;
  background-image:url('./alex-shutin-kKvQJ6rK6S4-unsplash.jpg');
  background-position: center top;
  background-repeat: repeat;
  background-size: 100% 100%;
}

#readingCard {  
  position: relative;
  height: 100vh;
}

#writingCard {  
  position: relative;
  height: 100vh;
}

#sidebar {
  flex: 0 0 250px;
  max-width: 250px;
  background-image: url(./p0033_m.jpeg);
  background-position: center top;
  background-attachment: fixed;
  color: #fff;
  box-shadow: 1px 1px 2px #2A5E8C;
  top: 0px;
  position: sticky;
  z-index: 1;
  height: 100vh;
}

#k-card-editor-logo {
  font-family: 'Bilbo Swash Caps', cursive;
  color: #fff;
  transform: rotate(-25deg);
  width: 170px;
  margin: 50px 0px 80px 20px;
  border-bottom: dashed 2px #fff;
}

#sidebar li {
  list-style: none;
  flex-flow: column;
  margin: 0 0 40px 20px;
  padding: 5px 20px 5px 20px;
  border-radius: 40px;
  width: 130px;
  height: 40px;
  font-size: 25px;
  font-family: 'Sawarabi Mincho', sans-serif;
  transition: all 0.1s ease-in-out;
}

#sidebar li a {
  text-decoration: none;
  display: inline-block;
  width: 150px;
  height: 40px;
  color: #d8dede;
  font-family: 'Sawarabi Mincho', sans-serif;
}

#sidebar li:hover {
  background-color: #3f6f98;
}

#sidebar li a:active {
  color: #fff;
  text-shadow: 20px 20px 80px #fff;
}

#sidebar li i {
  margin-right: 10px;
}

#readingCardTitle {
  position: absolute;
  top: 5px;
  left: 200px;
  color: #fff;
  font-size: 2.5rem;
  font-family: 'Sawarabi Mincho', sans-serif;
  text-shadow: 2px 2px 5px rgba(47, 83, 228, 0.797);
}

#readingIcon {
  position: absolute;
  left: 0%;
  display: inline-block;
  font-size: 2rem;
  width: 100px;
  height: 100px;
  background-image: url('./joanna-kosinska-1_CMoFsPfso-unsplash.jpg');
  border-bottom-right-radius: 100%;
  text-align: center;
  vertical-align: bottom;
  box-shadow: 5px 5px 20px rgb(74, 99, 159);
}

.fa-book {
  margin-top: 25px;
  color: #fff;
  text-shadow: 1px 1px 5px rgb(251, 255, 210);
}

.readingWrap {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 819px;
  height: 576px;
  font-size: 22px;
  font-family: 'Noto Serif JP', serif;
  margin: 0;
  border: 1px solid #00ced1;
  background-image: url("./k-card-image\(Edited\).png");
  background-position: center top;
  background-size: cover;
  box-shadow: 10px 10px 10px rgb(21, 77, 123);
  border-radius: 10px;
}

#buttonSpace {
  margin: 0;
  padding: 0;
}

th, td{
  margin: 0;
  padding: 0;
}

.readingMainArea {
  width: 666px;
  height: 576px;
  float: right;
}

.readingCard-side {
  position: absolute;
  width: 154px;
  height: 100%;
}

.readingText {
  width: 646px;
  float: left;
  overflow: hidden;
  text-overflow: ellipsis;
}

input {
  color: #555;
}

.readingTitle{
  width: 576px;
  height: 38px;
  padding:0 0 0 2px;
  margin: 15px 0 0 20px;
  font-size: 22px;
  font-family: 'Noto Serif JP', serif;
  border: 1px dotted #ddd;
  white-space: nowrap;
  caret-color: slategray;
  background-color: transparent;
}

.readingLeadSentence {
  width: 622px;
  height: 38px;
  margin: 10px 0 0 20px;
  font-size: 22px;
  font-family: 'Noto Serif JP', serif;
  padding: 0 0 0 2px;
  line-height: 60px;
  overflow: hidden;
  border: 1px dotted #ddd;
  background-color: transparent;
}

input::placeholder {
  font-size: 20px;
  color: #aaa;
}

thead tr th select {
  padding: 0;
  margin: 0;
  height: 40px;
  border: none;
}

thead tr th select option {
  margin: 0;
  padding: 0;
}

.readingMainTextArea {
  height: 347px;
  width: 666px;
}

.readingMainText {
  display: block;
  width: 622px;
  height: 260px;
  font-size: 22px;
  font-family: 'Noto Serif JP', serif;
  padding: 0 0 0 2px;
  margin-left: 20px;
  margin-right: 10px;
  margin-bottom: 41px;
  margin-top: 43px;
  color: #555;
  overflow: hidden;
  line-height: 43px;
  border: 1px dotted #ddd;
  caret-color: slategray;
  background-color: transparent;
}

textarea::placeholder {
 color: #aaa;
}

.readingInformation {
  width: 666px;
  height: 86px;
}

.author {
  width: 622px;
  height: 38px;
  font-size: 22px;
  font-family: 'Noto Serif JP', serif;
  border: 1px dotted #ddd;
  margin-top: 1px;
  margin-bottom: 1px;
  margin-left: 19px;
  margin-right: 9px;
  padding: 0 0 0 2px;
}

.author::placeholder {
  color: #aaa;
}

.bookTitle {
  width: 508px;
  height: 38px;
  font-size: 22px;
  font-family: 'Noto Serif JP', serif;
  border: 1px dotted #ddd;
  margin-top: 2px;
  margin-bottom: 1px;
  margin-left: 19px;
  margin-right: 9px;
  padding: 0 0 0 2px;
}

.bookTitle::placeholder {
  color: #aaa;
}

.pages {
  margin-top: 2px;
  margin-bottom: 1px;
  margin-left: 10px;
  padding: 0 0 0 2px;
  width: 62px;
  height: 38px;
  font-size: 22px;
  font-family: 'Noto Serif JP', serif;
  border: 1px dotted #ddd;
  caret-color: slategray;
}


table {
  border-spacing: 0;
  border-collapse: collapse;
}

#hushTagSpace {
  width: 154px;
  height: calc(100% - 102px);
  margin-top: 102px;
}

.hushTag {
  display: inline-block;
  padding: 0 0 0 2px;
  width: 128px;
  margin-left: 10px;
  height: 85px;
  border-radius: 5px;
  border: 1px dotted #ddd;
  background-color: rgba(0,0,0,0);
  color: #555;
  font-family: 'Noto Serif JP', serif;
  font-size: 15px;
  line-height: 43px;
  caret-color: slategray;
}

#hushTag1 {
  margin-top: 46px;
}

#hushTag2 {
  margin-top: 33px;
}

#hushTag3 {
  margin-top: 32px;
}

.hushTag::placeholder {
  color: #aaa;
  font-size: 15px;
}

#readingButtonList,#writingButtonList {
  width: 70%;
  padding: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
}

#readingSubmit,#writingSubmit {
  width: 80px;
  height:35px;
  padding: 0;
  margin-top: 20px;
  background-color: #2bbda2;
  color: #fff;
  border-radius: 10px;
  font-family: sans-serif;
  outline: 0;
  border: none;
  font-size: 15px;
  border: none;
  box-shadow: 0px 3px #0a7659;
  cursor: pointer;
  transition: 0.1s all;
}

#readingSubmit:active,#readingCancel:active,#readingDelete:active,#readingPrint:active
,#writingSubmit:active,#writingCancel:active,#writingDelete:active,#writingPrint:active {
  transform: translateY(3px);
  box-shadow: none;
  border: none;
  outline: 0;
}

#readingSubmit:focus,#readingCancel:focus,#readingDelete:focus,#readingPrint:focus 
,#writingSubmit:focus,#writingCancel:focus,#writingDelete:focus,#writingPrint:focus{
  outline: 0;
}

#readingSubmit:hover,#readingCancel:hover,#readingDelete:hover,#readingPrint:hover 
,#writingSubmit:hover,#writingCancel:hover,#writingDelete:hover,#readingPrint:hover{
  opacity: 0.8;
}

#readingCancel,#writingCancel{
  width: 80px;
  height:35px;
  line-height: 35px;
  text-align: center;
  margin-top: 20px;
  background-color: rgb(254, 147, 53);
  color: #fff;
  border-radius: 10px;
  font-family: sans-serif;
  outline: 0;
  border: none;
  font-size: 15px;
  border: none;
  box-shadow: 0px 3px rgb(215, 83, 0);
  cursor: pointer;
  transition: 0.1s all;
}

#readingDelete,#writingDelete {
  width: 80px;
  height:35px;
  line-height: 35px;
  text-align: center;
  margin-top: 20px;
  background-color: rgb(255, 113, 113);
  color: #fff;
  border-radius: 10px;
  font-family: sans-serif;
  outline: 0;
  border: none;
  font-size: 20px;
  border: none;
  box-shadow: 0px 3px rgb(199, 14, 14);
  cursor: pointer;
  transition: 0.1s all;
}

#readingPrint,#writingPrint{
  text-align: center;
  line-height: 35px;
  text-decoration: none;
  width: 80px;
  height: 35px;
  background-color: #6c9edf;
  color: #fff;
  border-radius: 10px;
  outline: 0;
  border: none;
  font-size: 20px;
  margin-top: 20px;
  box-shadow: 0px 3px #033F8C;
  cursor: pointer;
  transition: 0.1s all;
}

#readingCard {  
  position: relative;
  height: 100vh;
}

#writing {
  display: block;
  width: 100%;
  height: 100vh;
  max-width: 1440px;
  flex: 1 1 auto;
  background-image: url(./sunset-1373171_1920.jpg);
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 160%;
  box-shadow: -1px -1px 2px #95c9c9;
}

#writingCardTitle {
  position: absolute;
  top: 5px;
  left: 200px;
  color: #fff;
  font-size: 2.5rem;
  font-family: 'Sawarabi Mincho', sans-serif;
  text-shadow: 1px 1px 5px rgb(253, 255, 208);
}

#writingLogo {
  position: absolute;
  left: 0%;
  display: inline-block;
  font-size: 2rem;
  width: 100px;
  height: 100px;
  background-image: url('./joanna-kosinska-1_CMoFsPfso-unsplash.jpg');
  border-bottom-right-radius: 100%;
  text-align: center;
  vertical-align: bottom;
  box-shadow: 5px 5px 20px rgb(39, 32, 55);
}

#writingIcon {
  margin-top: 25px;
  color: #fff;
}

.writingWrap {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 819px;
  height: 576px;
  margin: 0;
  border: 1px solid #00ced1;
  background-image: url("./k-card-image\(Edited\).png");
  background-position: center top;
  background-size: cover;
  box-shadow: 10px 10px 10px rgb(81, 50, 97);
  border-radius: 10px;
}

.writingCardMainArea {
  width: 666px;
  height: 576px;
  float: right;
}

.writingCard-side {
  position: absolute;
  width: 154px;
  height: 100%;
}

.writingText {
  width: 646px;
  float: left;
  overflow: hidden;
  text-overflow: ellipsis;
}

.writingTitle {
  width: 576px;
  height: 38px;
  font-size: 22px;
  font-family: 'Noto Serif JP', serif;
  padding:0 0 0 2px;
  margin: 15px 0 0 20px;
  border: 1px dotted #ddd;
  white-space: nowrap;
  caret-color: slategray;
  background-color: transparent;
}

.writingLeadSentence {
  width: 622px;
  height: 38px;
  font-size: 22px;
  font-family: 'Noto Serif JP', serif;
  margin: 10px 0 0 20px;
  padding: 0 0 0 2px;
  line-height: 60px;
  overflow: hidden;
  border: 1px dotted #ddd;
  background-color: transparent;
}

.writingMainText {
  display: block;
  width: 622px;
  height: 261px;
  font-size: 22px;
  font-family: 'Noto Serif JP', serif;
  padding: 0 0 0 2px;
  margin-left: 20px;
  margin-right: 10px;
  margin-bottom: 41px;
  margin-top: 43px;
  color: #555;
  overflow: hidden;
  line-height: 43px;
  border: 1px dotted #ddd;
  caret-color: slategray;
  background-color: transparent;
}


.remarks {
  width: 622px;
  height: 83px;
  font-size: 22px;
  font-family: 'Noto Serif JP', serif;
  line-height: 43px;
  color: #555;
  border: 1px dotted #ddd;
  margin-top: 1px;
  margin-bottom: 1px;
  margin-left: 19px;
  margin-right: 9px;
  padding: 0 0 0 2px;
  background-color: transparent;
}
