#k-card-editor {
  margin: 0;
  padding: 0;
  font-size: 15px;
}

.content {
  width: 914px;
  height: 644px;
  margin: 80px auto; 
  border: 1px solid olive;
  border-radius: 10px;
  background-image: url('./k-card-image\(Edited\).png');
  background-position: top center;
  background-size: cover;
}

p,h1,h2,h3,h4,h5 {
  margin: 0;
  padding: 0;
}

th, td{
  margin: 0;
  padding: 0;
}

.main {
  width: 740px;
  height: 640px;
  float: right;
}

.side-bar {
  width: 136px;
}

.blank {
  width: 136px;
  height: 360px;
}

thead tr th .title{
  margin: 15px 20px 0;
  height: 40px;
  width: 700px;
  border: 1px dotted #ddd;
  font-family: sans-serif;
  font-size: 30px;
  overflow: ellipsis;
  white-space: nowrap;
  caret-color: slategray;
  float: left;
  background-color: transparent;
}

thead tr .leadSentence {
  font-size: 25px;
  width: 700px;
  height: 40px;
  margin: 5px 20px;
  line-height: 60px;
  overflow: hidden;
  border: 1px dotted #ddd;
  background-color: transparent;
}

.title::placeholder {
  font-size: 30px;
}

.leadSentence::placeholder {
  font-size: 25px;
}

thead tr input::placeholder{
  color: #aaa;
}

thead tr th select {
  padding: 0;
  margin: 0;
  height: 40px;
  border: none;
}

thead tr th select option {
  margin: 0;
  padding: 0;
}

thead .text {
  float: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  caret-color: slategray;
}

thead .text input {
  width: 700px;
}


tbody tr {
  width: 700px;
  height: 280px;
  padding: 0;
}

tbody tr td {
  height: 226px;
}
.main-text {
  display: block;
  width: 700px;
  height: 280px;
  font-size: 25px;
  line-height: 48px;
  overflow: hidden;
  margin: 55px 20px 55px 20px;
  border: 1px dotted #ddd;
  font-family: sans-serif;
  caret-color: slategray;
  background-color: transparent;
}


textarea::placeholder {
 font-family: sans-serif;
 color: #aaa;
}

tfoot tr {
  width: 300px;
  height: 36px;
}

tfoot td {
  height: 40px;
  width: 300px;
}

tfoot td .author {
  width: 700px;
  height: 35px;
  border: 1px dotted #ddd;
  font-size : 25px;
  font-family: sans-serif;
  margin: 2px 20px 8px 20px
}

.author::placeholder {
  color: #aaa;
}

tfoot tr td.book {
  width: 498px;
}

.book-title::placeholder {
  color: #aaa;
}

tfoot td .book-title {
  width: 610px;
  height: 35px;
  border: 1px dotted #ddd;
  margin-left: 20px;
  margin-right: 5px;
  font-size: 25px;
  font-family: sans-serif;
  float: left;
}

.pages {
  margin-left: 10px;
  padding-right: 10px;
  width: 48px;
  height: 35px;
  border: 1px dotted #ddd;
  font-size: 22px;
  text-align: right;
}


table {
  border-spacing: 0;
  border-collapse: collapse;
}

#submit-button {
  display: block;
  width: 80px;
  height:50px;
  margin: 0 auto;
  background-color: dodgerblue;
  color: #fff;
  font-family: sans-serif;
  padding: 0;
  border: none;
  border-radius: 5px;
  box-shadow: mediumblue 0px 3px;
  cursor: pointer;
  transition: 0.2s all;
}

#submit-button:active {
  transform: translateY(3px);
  box-shadow: none;
  border: none;
  outline: 0;
}

#submit-button:focus {
  outline: 0;
  opacity: 1;
}

#submit-button:hover {
  opacity: 0.8;
}
