html {
  width: 100vw;
}

body { 
  width: 100vw;
  font-size: 25px;
  color:#555;
  margin: 0;
  font-family: 'Noto Serif JP', serif;
}

#content {
  width: 100vw;
  display: flex;
  background-image: url(./p0026_m.jpeg);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
#main {
  flex: 75vw;
  order: 2;
}
#sidebar {
  flex: 15vw;
  order: 1;
  background-image: url(./p0033_m.jpeg);
  background-position: center top;
  background-attachment: fixed;
  color: #fff;
  display: flex;
  box-shadow: 1px 1px 2px #2A5E8C;
}
#sidebar li {
  list-style: none;
  flex-flow: column;
  margin: 0 0 40px 20px;
  padding: 5px 20px 5px 20px;
  border-radius: 40px;
  color: #c6cccc;
  width: 130px;
  transition: all 0.1s ease-in-out;
}

#sidebar li:hover {
  background-color: #3f6f98;
}

#sidebar li:active {
  color: #fff;
  text-shadow: 20px 20px 80px #fff;
}

#sidebar li i {
  margin-right: 10px;
}

#k-card-editor-logo {
  font-family: 'Bilbo Swash Caps', cursive;
  color: #fff;
  transform: rotate(-25deg);
  margin: 50px 0px 80px 20px;
  border-bottom: dashed 2px #fff;
}

#column {
  flex: 10vw;
  order: 3;
  background-image: url(./p0004_m.jpeg);
  box-shadow: -1px -1px 2px #c6cccc;
}

header {
  width: 100%;
  margin: 0px;
  position: relative;
  display: flex;
}

#userIcon {
width: 20vw;
height: 25vh;
background-repeat: no-repeat;
background-position: center center;
background-size: cover;
}

#userImage {
  background-image: url(./janko-ferlic-sfL_QOnmy00-unsplash.jpg);
  width: 20vw;
  height: 25vh;
  background-repeat: no-repeat;
  background-size: cover;
}

#box-title {
  width: calc(100% - 20vw - 20vw);
  height: 25vh;
  color: #fff;
  z-index: 4;
  position: relative;
  font-family: 'Noto Serif JP', serif;
  background-image: url(./retrosupply-jLwVAUtLOAQ-unsplash\ \(1\).jpg);
  background-size: cover;
  background-position: center bottom;
}

#title-mask {
  width: 100%;
  height: 25vh;
  background-color: rgba(0,0,0,0.2);
}

#box-text {
  width: 400px;
  position: absolute;
  font-size: 60px;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
  margin: 0;
}

#box-text:after {
  content: "のカードボックス";
  font-size: 25px;
  vertical-align: middle;
}

#profileEditButton {
  position: absolute;
  width: 200px;
  height: 50px;
  border-radius: 60px;
  border: none;
  background-color: #6082c6;
  color: #fff;
  right: 1%;
  bottom: -30%;
  z-index: 4;
  transition: all 0.2s ease-in-out;
}

#profileEditButton:hover {
  cursor: pointer;
  background-color: #0ebaee;
}

#userProfile {
  position: relative;
  height: 75vh;
  width: 75vw;
}

#profileSentence {
  position: absolute;
  text-shadow: 1px 1px #ccc;
  top: 2%;
  width: 40vw;
  height: 20vh;
  padding: 100px;
  font-size: 20px;
  border-top-left-radius: 500px 300px;
  border-top-right-radius: 300px 250px;
  border-bottom-right-radius: 350px 300px;
  border-bottom-left-radius: 400px 300px;
  background-image: url(./joanna-kosinska-1_CMoFsPfso-unsplash.jpg);
  margin: 0 0 0 20px;
  background-position: right top;
  box-shadow: 2px 2px 50px #ccc;
  /* transform: rotate(-2deg); */
}

#favorite {
  position: absolute;
  font-size: 10px;
  top: 50%;
  right: -8%;
  width: 30vw;
  height: 20vh;
  padding: 60px;
  font-size: 18px;
  border-top-left-radius: 400px 300px;
  border-top-right-radius: 240px 200px;
  border-bottom-right-radius: 400px 200px;
  border-bottom-left-radius: 300px 200px;
  background-image: url(./p0146_m.jpeg);
  margin-right: 40px;
  background-position: right top;
  box-shadow: 1px 1px 50px #aaa;
  /* transform: rotate(4deg); */
  color: #fff;
}

#postedCardNumber {
  position: absolute;
  margin: 0;
  top: 57%;
  left: 5%;
  width: 300px;
  height: 150px;
  font-size: 150px;
  font-family: 'Bilbo Swash Caps', cursive;
  /* border-bottom: dashed 2px #555; */
  text-shadow: 1px 1px #aaa;
  transform: rotate(-5deg);
  font-weight: bold;
  color: #2A5E8C;
}

#postedCardNumber::after {
  content: "Cards Posted!!";
  font-size: 30px;
}

#notice {
  /* font-size: 40px; */
  position: absolute;
  bottom: 5%;
  left: 15%;
  font-size: 20px;
  font-weight: bold;
}

#cardViewer {
  width: 914px;
  height: 644px;
  margin: 80px auto 0;
  border:1px solid #00ced1;
  border-radius: 10px;
  background-image: url("./k-card-image\(Edited\).png");
  background-position: center top;
  background-size: cover;
}

#cardStatus {
  width: 910px;
  height: 80px;
  margin: 5px auto 80px;
  display: flex;
}

#edittingButton {
  width: 80px;
  margin-left: 50px;
  height: 40px;
  color: #fff;
  background-color: lightseagreen;
  border-radius: 10px;
  border: 0px;
  box-shadow: 0 5px darkcyan;
}

#edittingButton:hover {
  opacity: 0.8;
}

#edittingButton:active {
  position: relative;
  box-shadow: none;
  top: 5px;
  outline: 0;
}

#edittingButton:focus {
  outline: 0;
}

#cardMainArea {
  width: 740px;
  height: 640px;
  float: right;
}

#cardSideArea {
  margin: 135px 5px 0px 0px;
  width: 175px;
  height: 640x;
  overflow-wrap: break-word;
}


#title:before {
  content:'- ';
}
#title:after {
  content:' -';
}
#title {
  height: 40px;
  line-height: 50px;
  margin: 15px 20px 0;
  overflow: ellipsis;
  font-size: 30px;
}

#leadSentence {
  height: 60px;
  width: 715px;
  margin: 5px 20px;
  font-size: 25px;
  line-height: 60px;
  overflow: hidden;
}

#mainText {
  height: 280px;
  margin: 50px 20px 65px 20px;
  font-size: 25px;
  line-height: 48px;
  overflow: hidden;
}



#author {
  margin: 0px 20px 10px 20px;
  font-size: 25px;
}

#author::after {
  content: "　著";
}


#bookTitle {
  margin: 0px 0px 10px 10px;
  font-size: 25px;
}

#bookTitle::before {
  content: "『";
}

#bookTitle::after {
  content: "』";
}

#pages {
  font-size: 22px;
  margin: 4px 0px 10px 0px;
}

#pages::before {
  content: "P.";
}

#bookInfo {
  display:flex;
  margin: 0;
  padding: 0;
}



#postedDate {
  margin-left:20px;
  font-size: 22px;
  list-style: none;
}

#bookmarkUserCount::before {
  content: "⭐ ";
  
}

#bookmarkUserCount {
  margin-top: 15px;
  width: 60px;
  color: #fff;
}

#comments::before {
  content: "💬 ";
}

#comments {
  width: 60px;
  margin-top: 15px;
  margin-left: 20px;
  color: #fff;
}

#revisionButton {
  padding-top: 5px;
  text-align: center;
  vertical-align: center;
  text-decoration: none;
  width: 80px;
  height: 35px;
  background-color: royalblue;
  color: #fff;
  border-radius: 10px;
  outline: 0;
  border: none;
  font-size: 20px;
  margin-top: 15px;
  margin-left: 40px;
  box-shadow: 0px 3px steelblue;
  position: relative;
}

#revisionButton:hover {
  background-color: lightskyblue;
}

#revisionButton:active {
  box-shadow: none;
  top: 3px;
  opacity: 1;
}

