#edittingPage {
  margin: 0;
  background-image: url(./p0004_m.jpeg);
  background-attachment: fixed;
  color: #555;
  font-size: 25px;
  font-family: 'Noto Serif JP', serif;
}

p,h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
}

#content {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-flow: row-reverse;
  font-size: 25px;
}

#main {
  display: block;
  width: calc(100% - 250px);
  height: 100vh;
  max-width: 1440px;
  flex: 1 1 auto;
  background-image: url('./edittingPage-backgroundImage.jpg');
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: -1px -1px 2px #c6cccc;
}

#cardContainer {
   
  position: relative;
  height: 100vh;
}

#sidebar {
  flex: 0 0 250px;
  max-width: 250px;
  background-image: url(./p0033_m.jpeg);
  background-position: center top;
  box-shadow: 1px 1px 2px #57bbf0;
  top: 0px;
  position: sticky;
  z-index: 1;
  height: 100vh;
}

#k-card-editor-logo {
  font-family: 'Bilbo Swash Caps', cursive;
  color: #fff;
  transform: rotate(-25deg);
  width: 170px;
  margin: 50px 0px 80px 20px;
  border-bottom: dashed 2px #fff;
}

#sidebar li {
  list-style: none;
  flex-flow: column;
  margin: 0 0 40px 20px;
  padding: 5px 20px 5px 20px;
  border-radius: 40px;
  width: 130px;
  transition: all 0.1s ease-in-out;
}

#sidebar li a {
  text-decoration: none;
  color: #d8dede;
}

#sidebar li:hover {
  background-color: #3f6f98;
}

#sidebar li a:active {
  color: #fff;
  text-shadow: 20px 20px 80px #fff;
}

#sidebar li i {
  margin-right: 10px;
}

.cardWrap {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-57%);
  width: 819px;
  height: 576px;
  margin: 0;
  border: 1px solid #00ced1;
  background-image: url("./k-card-image\(Edited\).png");
  background-position: center top;
  background-size: cover;
  box-shadow: 10px 10px 10px #ccc;
  border-radius: 10px;
}

#buttonSpace {
  margin: 0;
  padding: 0;
}

th, td{
  margin: 0;
  padding: 0;
}

.cardMainArea {
  width: 666px;
  height: 576px;
  float: right;
}

.card-side {
  position: absolute;
  width: 154px;
  height: 100%;
}

.text {
  width: 646px;
  float: left;
  overflow: hidden;
  text-overflow: ellipsis;
}

input {
  color: #555;
}

.title{
  width: 578px;
  height: 38px;
  font-size: 25px;
  margin: 15px 0 0 20px;
  padding: 0;
  font-family: 'Noto Serif JP', serif;
  border: 1px dotted #ddd;
  white-space: nowrap;
  caret-color: slategray;
  background-color: transparent;
}

.leadSentence {
  width: 624px;
  height: 38px;
  margin: 10px 0 0 20px;
  padding: 0;
  font-size: 25px;
  line-height: 60px;
  overflow: hidden;
  border: 1px dotted #ddd;
  font-family: 'Noto Serif JP', serif;
  background-color: transparent;
}

input::placeholder {
  font-size: 25px;
  font-size: 25px;
  color: #aaa;
}

thead tr th select {
  padding: 0;
  margin: 0;
  height: 40px;
  border: none;
}

thead tr th select option {
  margin: 0;
  padding: 0;
}

.mainTextArea {
  height: 347px;
  width: 666px;
}

.mainText {
  display: block;
  width: 624px;
  height: 261px;
  margin-left: 20px;
  margin-right: 10px;
  margin-bottom: 38px;
  margin-top: 46px;
  padding: 0;
  font-size: 25px;
  color: #555;
  overflow: hidden;
  line-height: 43px;
  font-family: 'Noto Serif JP', serif;
  border: 1px dotted #ddd;
  caret-color: slategray;
  background-color: transparent;
}

textarea::placeholder {
 font-family: 'Noto Serif JP', serif;
 color: #aaa;
}

.information {
  width: 666px;
  height: 86px;
}

.author {
  width: 624px;
  height: 38px;
  border: 1px dotted #ddd;
  font-size : 25px;
  font-family: 'Noto Serif JP', serif;
  margin-top: 1px;
  margin-bottom: 1px;
  margin-left: 19px;
  margin-right: 9px;
  padding: 0;
}

.author::placeholder {
  color: #aaa;
}

.bookTitle {
  width: 510px;
  height: 38px;
  border: 1px dotted #ddd;
  font-size : 25px;
  font-family: 'Noto Serif JP', serif;
  margin-top: 2px;
  margin-bottom: 1px;
  margin-left: 19px;
  margin-right: 9px;
  padding: 0;
}

.bookTitle::placeholder {
  color: #aaa;
}

.pages {
  margin-top: 2px;
  margin-bottom: 1px;
  margin-left: 10px;
  padding-right: 10px;
  padding: 0;
  width: 64px;
  height: 38px;
  border: 1px dotted #ddd;
  font-family: 'Noto Serif JP', serif;
  font-size: 25px;
  text-align: right;
}


table {
  border-spacing: 0;
  border-collapse: collapse;
}

#hushTagSpace {
  width: 820px;
}

.hushTag {
  display: inline-block;
  padding: 0;
  width: 250px;
  height: 25px;
  border-radius: 5px;
  border: 1px solid #6c9edf;
  color: #555;
  font-family: 'Noto Serif JP', serif;
  font-size: 15px;
}

.hushTag::placeholder {
  color: #aaa;
  font-size: 15px;
}

#buttonList {
  list-style: none;
  display: flex;
  flex-flow: row;
}

#submit-button {
  width: 80px;
  height:35px;
  margin-top: 20px;
  background-color: #6c9edf;
  color: #fff;
  border-radius: 10px;
  font-family: sans-serif;
  outline: 0;
  border: none;
  font-size: 15px;
  border: none;
  box-shadow: 0px 3px #033f8c;
  cursor: pointer;
  transition: 0.1s all;
}

#submit-button:active {
  transform: translateY(3px);
  box-shadow: none;
  border: none;
  outline: 0;
}

#submit-button:focus {
  outline: 0;
}

#submit-button:hover {
  opacity: 0.8;
}

#cancel-button {
  width: 120px;
  height:35px;
  line-height: 35px;
  text-align: center;
  margin-top: 20px;
  background-color: rgb(249, 156, 75);
  color: #fff;
  border-radius: 10px;
  font-family: sans-serif;
  outline: 0;
  border: none;
  font-size: 15px;
  border: none;
  box-shadow: 0px 3px orangered;
  cursor: pointer;
  transition: 0.1s all;
}

#cancel-button:active {
  transform: translateY(3px);
  box-shadow: none;
  border: none;
  outline: 0;
}

#cancel-button:focus {
  outline: 0;
}

#cancel-button:hover {
  opacity: 0.8;
}

#delete-button {
  width: 80px;
  height:35px;
  line-height: 35px;
  text-align: center;
  margin-top: 20px;
  background-color: rgb(255, 132, 132);
  color: #fff;
  border-radius: 10px;
  font-family: sans-serif;
  outline: 0;
  border: none;
  font-size: 15px;
  border: none;
  box-shadow: 0px 3px rgb(252, 70, 37);
  cursor: pointer;
  transition: 0.1s all;
}

#delete-button:active {
  transform: translateY(3px);
  box-shadow: none;
  border: none;
  outline: 0;
}

#delete-button:focus {
  outline: 0;
}

#delete-button:hover {
  opacity: 0.8;
}