ul {
  padding: 0;
}
body { 
  font-size: 20px;
  background-image: url("../k-card-editor/pawel-czerwinski-OG44d93iNJk-unsplash.jpg");
  background-position: center top;
  background-repeat: repeat;
  background-size: cover;
  background-attachment: fixed;
}

#mainCenter {
  width: 960px;
  margin: 0 auto;
}

#cardViewer {
  width: 728px;
  height: 512px;
  margin: 80px auto;
  border:1px solid #00ced1;
  background-color: #f0ffff;
}

#cardMainArea {
  width: 592px;
  height: 512px;
  float: right;
}

#cardSideArea {
  margin: 96px 10px 0px 10px;
  width: 112px;
  height: 512px;
  overflow-wrap: break-word;
}

#title:before {
  content:'-';
}
#title:after {
  content:'-';
}
#title {
  height: 48px;
  line-height: 48px;
  margin: 0 20px;
}

#leadSentence {
  height: 48px;
  width: 572px;
  margin: 0 10px;
  font-size: 18px;
  line-height: 48px;
}

#mainText {
  height: 244px;
  margin: 10px 20px 10px 10px;
  font-size: 18px;
}



#author, #bookTitle, #pages {
  list-style: none;
  margin: 10px 20px 10px 10px;
  font-size: 18px;
}

#postedDate {
  font-size: 15px;
  list-style: none;
}
