#printReading {
  margin: 0;
  background-attachment: fixed;
  color: #555;
  font-size: 20px;
  font-family: 'Noto Serif JP', serif;
  background-image: url(./kelly-sikkema-vtKc7BpJ-vU-unsplash.jpg);
  width: 100%;
  height: 100%;
  page-break-after: avoid;
  page-break-before: avoid;
  padding: 0;
}

canvas {
  width: 182mm;
  height: 128mm;
  padding: 0;
  margin: 0;
}

p,h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
}

.readingWrap {
  display: none;
}

#readingButtonList {
  display: none;
}
