html {
  font-size: 20px;
  color: #555;
}

#profileEdit {
  margin: 0;
  background-image: url(./p0146_m.jpeg);
  font-family: 'Noto Serif JP', serif;
}

h1 {
  margin: 0px auto 10px;
  padding: 15px;
  font-family: 'Bilbo Swash Caps', cursive;
  font-size: 2rem;
}

h3{
  margin: 10px;
  font-size: 1rem;
}

.cover {
  background-image: url(./p0026_m.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top;
  width: 100vw;
  max-width: 1200px;
  height: 100vh;
  margin: 0 auto;
}

.content {
  width: 960px;
  margin: 0 auto;
}

.flex {
  width: 960px;
  display: flex;
}

.image {
  width: 40%;
  height: 100%;
}

.text {
  width: 50%;
}

.zone-text {
  font-size: 13px;
  margin: 0;
  font-family: 'Sawarabi Gothic', sans-serif;
  margin-top: 10px;
}

.userIcon-zone {
  position: relative;
  width: 70%;
  height: 25vh;
  background-color: #888;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; 
  border-radius: 10px;
  }

#delete-userIcon,#delete-userImage {
  position: absolute;
  right: 0%;
  top: 0%;
  margin: 0;
  padding: 10px;
  background-color: rgba(100, 100, 100, 0.5);
  border-top-right-radius: 10px 10px;
  border-bottom-left-radius: 10px 10px;
  color: #fff;
  transition: 0.2s ease-in-out;
}

#delete-userIcon:hover ,#delete-userImage:hover {
  color: tomato;
}

.userImage-zone {
  position: relative;
  width: 70%;
  height: 25vh;
  background-color: #888;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 10px;
  }

#userImage-zone {
  position: relative;
  width: 70%;
  height: 25vh;
  background-color: #888;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 10px;
  }

  #faUser {
    padding: 0;
    margin: 0;
    color: #fff;
    font-size: 6rem;
    text-align: center;
    line-height: 25vh;
  }
  .faUserOpa{
    opacity: 0.4;
  }

  #faImage {
    padding: 0;
    margin: 0;
    color: #fff;
    font-size: 6rem;
    text-align: center;
    line-height: 25vh;
  }
  
  .faImageOpa {
    opacity:0.4
  }

#upload-userIcon, #upload-userImage {
  margin-bottom: 2px;
}

#notice {
  font-size: 12px;
  margin-top: 0;
  margin-bottom: 40px;
}

  #nameTitle, #profileTitle, #favoriteTitle {
    margin: 0 0 5px;
  }

  #name {
    width: 30vw;
    height: 35px;
    margin: 0 10px 20px;
    border: 1px solid #888;
    font-family: 'Noto Serif JP', serif;
    font-size: 1rem;
    color: #555;
    border-radius: 5px;
    padding: 0 5px;
  }

  #profile {
    width: 30vw;
    height: 180px;
    margin: 0 10px 20px;
    border: 1px solid #888;
    font-family: 'Noto Serif JP', serif;
    font-size: 0.8rem;
    color: #555;
    border-radius: 5px;
    padding: 0 5px;
  }

  #favorite {
    width: 30vw;
    height: 120px;
    margin: 0 10px 20px;
    border: 1px solid #888;
    font-family: 'Noto Serif JP', serif;
    font-size: 0.8rem;
    color: #555;
    border-radius: 5px;
    padding: 0 5px;
  }

  .buttons {
    width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
  }

  #submitButton {
    width: 100px;
    font-size: 15px;
    border: none;
    background-color: #5a7de6;
    color: #fff;
    border-radius: 20px;
    transition: all 0.2s ease-in-out;
    font-family: 'Sawarabi Gothic', sans-serif;
    margin-right: 20px;
  }
  
  #submitButton:focus {
    outline: none;
  }
  
  #submitButton:hover {
    cursor: pointer;
    background-color: #63aef9;
  }
  
  #cancelButton {
    font-size: 15px;
    margin-left: 30px;
    padding: 14px;
    border: none;
    background-color: #fc8930;
    color: #fff;
    border-radius: 20px;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    font-family: 'Sawarabi Gothic', sans-serif;
    margin-right: 20px;
  }
  
  #cancelButton:hover {
    background-color: #ffbf51;
  }