html {
  width: 100vw;
}

body { 
  width: 100vw;
  font-size: 24px;
  color:#555;
  margin: 0;
  font-family: 'Noto Serif JP', serif;
  background-color: #bbb;
}

#content {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-flow: row;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#main {
  display: block;
  position:relative;
  width: 100%;
  max-width: 1440px;
  flex: 1 1 auto;
  background-color: rgb(248,249,251);
  box-shadow: -1px -1px 2px #c6cccc;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: y mandatory;
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100vh);
}

#sidebar {
  flex: 0 0 250px;
  max-width: 250px;
  background-color: rgb(55, 95, 147);
  color: #fff;
  box-shadow: 1px 1px 2px #2A5E8C;
  top: 0px;
  z-index: 2;
  height: 100vh;
}

#sidebar li {
  list-style: none;
  flex-flow: column;
  margin: 0 0 40px 20px;
  padding: 5px 20px 5px 20px;
  border-radius: 40px;
  width: 130px;
  transition: all 0.1s ease-in-out;
}

#sidebar li a {
  display: inline-block;
  width: 150px;
  height: 40px;
  text-decoration: none;
  color: #c6cccc;
}

#sidebar li:hover {
  background-color: #3f6f98;
}

#sidebar li a:active {
  color: #fff;
  text-shadow: 20px 20px 80px #fff;
}

#sidebar li i {
  margin-right: 10px;
}

#k-card-editor-logo {
  font-family: 'Bilbo Swash Caps', cursive;
  color: #fff;
  transform: rotate(-25deg);
  width: 170px;
  margin: 50px 0px 80px 20px;
  border-bottom: dashed 2px #fff;
}

#currentUserIcon {
width: 25%;
height: 25vh;
background-repeat: no-repeat;
background-position: center center;
background-size: cover;
font-size: 8rem;
text-align: center;
line-height: 25vh;
color: #fff;
background-color: #888;
}

#notice {
  position: absolute;
  bottom: 5%;
  left: 15%;
  font-size: 15px;
  font-weight: bold;
}

.displayCommentModal {
  display: block;
  height: 100vh;
  position: absolute;
  top: 0px;
  animation: fadeInAnimation 400ms ease-out;
}

.innerElement { 
  width: 100%;
  height: 100vh;
  max-width: 1440px;
  margin: 0 auto;
  background-image: url(../img/background-mountain1.jpg);
  background-position: right bottom;
  background-size: cover;
  background-attachment: fixed;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
}

.commentForm {
  color: #fff;
  width: 100%;
  max-width: 1490px;
  margin-top: 20px;
  height: 320px;
  border: none;
  border-radius: 10px;
  text-shadow: 1px 1px 20px #fff;
}

.commentForm::placeholder {
  color: #555;
}

.currentUser {
  display: flex;
  flex-flow: row;
  margin: 60px 0px 0px 80px;
  color: #fff;
  text-shadow: 1px 1px 20px #fff;
}

#currentUserIcon {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  margin-right: 25px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

#commentTextArea { 
  width: 800px;
  height: 200px;
  padding: 25px;
  margin-left: 100px;
  border: none;
  border-radius: 30px;
  outline: none;
  font-size: 20px;
  background-color: rgba(70, 160, 220, 0.4);
  font-family: 'Noto Serif JP', serif;
  color: #fff;
}

input {
  caret-color: #555;
}

.bookmarkUserTitle, .commentUserTitle {
  max-width: 1110px;
  line-height: 30px;
  font-size: 25px;
  text-shadow: 1px 1px 20px #fff;
  margin-top: 80px;
  position: relative;
  margin-left: 330px;
  margin-bottom: 30px;
  color: #fff;
}

#cardMainText {
  width: 900px;
  margin-left: 200px;
  line-height: 50px;
  font-size: 30px;
  color: #fff;
  text-shadow: 1px 1px 20px #fff;
}

#commentUsersArea {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 350px;
}

#cardAuthorIcon {
  position: absolute;
  height: 120px;
  width: 120px;
  top: 35px;
  margin-left: 50px;
  background-size: cover;
  background-position: center center;
  border-radius: 100%;
  box-shadow: -1px -1px 90px #fff;
  line-height: 5rem;
  font-size: 3rem;
  color: #fff;
}

.bookmarkUsersArea {
  list-style: none;
  font-size: 1.5rem;
  text-shadow: 1px 1px 20px #fff;
  color: #fff;
  position: relative;
  margin-left: 350px;
  width: 100%;
  max-width: 1090px;
  height: 100%;
  padding: 0;
}

.closeModal {
  font-size: 4rem;
  width: 100%;
  max-width: 1050px;
  position: fixed;
  bottom: 0;
  line-height: 5rem;
  color: #fff;
  cursor: pointer;
  text-shadow: none;
  margin: 0px 20px 20px 0px;
  text-align: right;
  transition: all 0.2s ease-in-out;
}

.closeModal:hover {
  text-shadow: 1px 1px 20px #fff;
}

.userName {
  position: absolute;
  width: 700px;
  height: 20px;
  left: 80px;
  line-height: 1.2rem;
}

.usersArea {
  margin-bottom: 20px;
}
.userIcon {
  position: absolute;
  width: 60px;
  height: 60px;
  background-size: cover;
  background-position: center center;
  border-radius: 100%;
  box-shadow: -1px -1px 90px #fff;
  left: 0;
  top: 0px;
  color: #fff;
}

.cardMainArea {
  width: 666px;
  height: 576px;
  float: right;
}

.cardSideArea {
  position: absolute;
  list-style: none;
  width: 154px;
  height: 100%;
}

.title:before {
  content:'- ';
}
.title:after {
  content:' -';
}
.title {
  height: 40px;
  margin: 15px 0 0 20px;
  
}

.leadSentence {
  height: 40px;
  margin: 10px 0 0 20px;
  overflow: hidden;
}

.mainText {
  height: 263px;
  margin-left: 20px;
  margin-right: 10px;
  margin-bottom: 38px;
  margin-top: 46px;
  overflow: hidden;
  line-height: 43px;
}

.bookInfo {
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 43px;
}

.author {
  margin: 0px 10px 0px 20px;
  width: 646px;
  line-height: 43px;
}

#author::after {
  content: "  著";
}

.bookTitle {
  margin: 5px 0px 0px 10px;
  line-height: 35px;
}

.bookTitle::before {
  content: "『";
}

.bookTitle::after {
  content: "』";
}

.pages {
  line-height: 35px;
  margin: 5px 0px 0px 10px;
}

.pages::before {
  content: "P.";
}

.remarks {
  width: 622px;
  height: 83px;
  font-size: 22px;
  font-family: 'Noto Serif JP', serif;
  line-height: 43px;
  color: #555;
  margin-left: 19px;
  margin-right: 9px;
  padding: 0 0 0 2px;
  background-color: transparent;
}

.postedDate {
  margin: 156px 0 0 15px;
  list-style: none;
}

i {
  margin-right: 0px;
}

.bookmarkUserCount {
  margin-top: 15px;
  width: 100px;
  color: #fff;
  font-size: 30px;
  font-family: sans-serif;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.commentUserCount {
  width: 100px;
  margin-top: 15px;
  margin-left: 20px;
  font-size: 30px;
  color: rgb(255, 255, 255);
  font-family: sans-serif;
  cursor: pointer;
}

.bookmarkUserCount:active, .comments:active {
  opacity: 1;
}

.bookmarkUserCount:hover, .comments:hover {
  opacity: 0.8;
}

.cardStatus {
  /* 幅はカード全体の幅と同じ182mm✖️4.5のピクセル */
  width: 780px;
  height: 80px;
  margin: 5px auto 0;
  display: flex;
  font-size: 25px;
  position: relative;
}

#edittingButton {
  width: 80px;
  margin-right: 200px;
  height: 40px;
  color: #fff;
  background-color: lightseagreen;
  border-radius: 10px;
  border: 0px;
  box-shadow: 0 5px darkcyan;
}

#edittingButton:hover {
  opacity: 0.8;
}

#edittingButton:active {
  position: relative;
  box-shadow: none;
  top: 5px;
  outline: 0;
}

#edittingButton:focus ,#printButton:focus {
  outline: 0;
}

.revisionButton, .printButton{
  text-align: center;
  vertical-align: center;
  text-decoration: none;
  width: 80px;
  height: 35px;
  background-color: #6c9edf;
  color: #fff;
  border-radius: 10px;
  outline: 0;
  border: none;
  font-size: 20px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 50px;
  box-shadow: 0px 3px #033F8C;
  cursor: pointer;
  transition: 0.1s all;
}

.revisionButton:active, .printButton:active {
  transform: translateY(3px);
  box-shadow: none;
  border: none;
  outline: 0;
}

.revisionButton:hover, .printButton:hover {
  opacity: 0.8;
}
.postedUserIcon {
  position: absolute;
  width: 80px;
  height: 80px;
  background-size: cover;
  background-position: center center;
  border-radius: 100%;
  right: 0px;
  top: 10px;
  line-height: 5rem;
  text-align: center;
  font-size: 3rem; 
  color: #fff;
}

.postedUserName {
  margin-right: 20px;
  height: 20px;
  font-size: 20px;
  font-family: sans-serif;
  position: absolute;
  right: 70px;
  top: 10px;
  color: #fff;
}
#postedUserName::before {
  content: "by ";
  font-size: 15px;
  vertical-align: center;
}

#revisionButton:hover ,#printButton:hover {
  background-color: lightskyblue;
}

#revisionButton:active, #printButton:active {
  box-shadow: none;
  top: 3px;
  opacity: 1;
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}